header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #d0d1d3;
    background: url(/images/image_1.jpg) bottom no-repeat;
    background-size: cover;
   }

   body {
    margin: 0px;
    padding: 0px;
   }

   h1 {
    color: beige;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
   }

   footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
   }

   footer .links {
    margin-bottom: 50px;
   }

   footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
   }

   .copyright {
    color: rgb(108, 117, 125);
    font-family: Arial, Helvetica, sans-serif;
   }

   .news {
    background-color: #fff;
    padding: 50px 0 32px;
   }

   article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
   }

   article a {
    color:rgb(33, 37, 41);
    text-decoration: none;
   }

   article a:hover {
    color: #0085a1;
    }

    article h2 {
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 5px;
    }

    .article-meta {
        color: rgb(134, 142, 150);
        margin-bottom: 5px;
    }

    article img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .first:nth-child(2n) {
        background-color: cyan;
    }

    .new::before {
        content: "NEW!!!";
        color: red;
    }